.home {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 100px auto 0;
  @media (max-width: 600px) and (min-width: $mobile-min) {
    width: 100%;
    min-height: 500px;
    height: auto;
    margin-top: 50px;
  }
}

.home-title {
  font-size: 20px;
  color: $gray-dark;
  font-weight: 400;
  text-shadow: 2px 2px 1px $blue-dark;
}

.home-item {
  width: 128px;
  height: 128px;
  padding: 5px;
  border-radius: 50%;
  background-color: $blue-mid;
  position: absolute;
  @media (max-width: $mobile-max) and (orientation: portrait) {
    &.home-item {
      position: relative;
      transform: none;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin: 20px auto 0;
      display: inline-block;
      width: 30%;
      height: auto;
    }
  }
  @media (orientation: landscape) {
    &.home-item {
      color: red;
    }
  }
  img {
    max-width: 100%;
    border-radius: 50%;
  }
}

.item-avatar {
  top: 0; left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 100%;
  height: auto;
  @media (max-width: $mobile-max) and (orientation: portrait) {
    &.item-avatar {
      width: 100%;
      display: block;
    }
  }
}

.item-cv {
  bottom: 0; left: 50%;
  transform: translateX(-50%);
}

.item-publications {
  left: 15px; bottom: 0;
  transform: translateY(-50%);
}

.item-projects {
  right: 15px; bottom: 0;
  transform: translateY(-50%);
}

.options-inner {
  width: 100%;
  height: 100%;
  background-color: $blue-light;
  border: 3px solid $blue-dark;
  border-radius: 50%;
}

.avatar {
  img {
    max-width: 256px;
    width: auto;
    height: auto;
    border: 3px solid $blue-dark;
    border-radius: 50%;
    padding: 2px 0 0 1px;
  }
}
