$gray-light: #e8e8e8;
$gray-dark: #666;
$blue-light: #e5f9fd;
$blue-mid: #d4f5fc;
$blue-dark: #92d8e8;

$white: #fff;
$black: #000;
$gray-mid: #eee;

$shadow: #dedddd;

$tablet-max: 1366px;
$tablet-min: 769px;

$mid-max: 768px;
$mid-min: 481px;

$mobile-max: 480px;
$mobile-min: 320px;

$desktop-min: 1367px;
